
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
}
//menu

.dataCont{
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .botonera{
        .whatsapp{
            text-decoration: none;
            color: white;
            background-color: rgb(45, 158, 0);
            border: 1px double black;
        }
        .pedya{
            text-decoration: none;
            color: white;
            background-color: rgba(182, 4, 4, 0.877);
            border: 1px double black;
 

        }
    }
}
.parteAbajoCont{
    display: flex;
    justify-content: space-around;
    .maps{
        width: 40vw;
        
    }
    
    
    .formulario{
        border: 1px solid black;
        padding: 2px;
        background-color: rgba(0, 0, 0, 0.418);
        display: flex;
        flex-direction: column;
        align-items: center;
        #formCont{
            color: beige;
        }
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            label{
                color: white;
            }
            textarea{
                border-radius: 5px;
            }
            input{
                background-color: beige;
                border-radius: 5px;
            }
        }

    
    }
}
//Menu
.contenedorMenu{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    .menuGeneral{
        display: flex;
        width: 70vw;
        flex-wrap: wrap;
        .caja{
            margin: 10px;
            background-color: rgba(245, 245, 220, 0.507);
            border: 3px double rgba(0, 0, 0, 0.555);
            h3{
                text-align: center;

            }
            ul{
                padding: 4px;
                
            }
        }
    }
    
}

//Noti
.noti{
    display: flex;
    justify-content: space-around;
    height: 60vh;
    .articuloNoticia{
        width: 20vw;
        flex-wrap: wrap;
        background-color: beige;
        border-radius: 5px;
        .sect1{
            display: flex;
            flex-direction: column;
            align-items: center;
            .imagen{
                width: 100px;
                height: 100px;
            }
            p{
                padding: 4px;
            }
        }
    }
}
//SobreNos
.backNos{
    height: 90vh;
    .cuerpoSobreNos{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            text-align: center;
            width: 36vw;
        }
        img{
            
            border: 1px solid black;
            width: 70vh;
            height: 40vh;
            
        }
    }
}
//Index
.segundoSection{
    img{
        width: 20vw;
        
        border-radius: 10px;
    }
    p{
        padding: 0.2em;
    }
}
header{
    border: 1px solid orange;
    nav{
        display: flex;
        background-color: rgb(224, 128, 2);
        border: 1px solid white;
        align-items: center;
        justify-content: center;
        height: 11vh;
        .opciones{
            width: 60vw;
        
            ul{
                display: flex;
                
                li{
                    display: flex;
                    align-items: center;
                    text-align: center;
                    width: 20vw;
                    a{
                        
                        height: 50px;
                        width: 100px;
                        text-decoration: none;
                        background-color: rgb(0, 0, 0);
                        padding: 5px;
                        color: orange;
                        border: 1px solid rgba(255, 166, 0, 0.57);
                        border-radius: 5px;
                    }
                    
                }
            }
        }
}
    .log{
        display: flex;
        width: 40vw;
        
        justify-content: flex-end;
        img{
            width: 5vw;
            border: 1px solid rgb(17, 9, 1);
            border-radius:300px;
            
        }
    }

}
.mainIndex{
    height: 65vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 98vw;
    .dudaPedir{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        border-radius: 0px;
        border: 1px solid white;
        background-color: rgba(52, 44, 30, 0.792);
        width: 40vw;
        height: 60vh;
        color: white;
        h4{
            
        }
        .galeria{
            height: 20vh;
        }
    }
    .sugerencias{
        width: 25vw;
        position: absolute;
        left: 18vw;
        display: flex;
        background-image: url("../images/inicio1.png");
        background-size: cover;
        
        align-items: center;
        justify-content: center;
        height: 30vh;
        img{
            width: 30vw;
            height: 40vh;
            border: 3px solid black;
            :hover{
                
            }
        }
        a{
            font-size: 40px;
            background-color: rgba(0, 0, 0, 0.521);
            background-size: cover;
            color: white;
        }
        
        :hover{
            background: black;
        }
        
    }
    
}
//Fin index
//Menu

//pie
.pie{
    //background-color: rgba(245, 245, 220, 0.445);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 11vh;
    .tituloPie{
        color: rgb(0, 0, 0);

    }
    .h4Pie{
        color: rgb(0, 0, 0);

    }
    .autor{
        color: rgb(0, 0, 0);
    }
}
//fin pie
//Carrusel
.tamanio{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 40vw;
    .bordes{
        border-radius: 0px;
        border: 1px solid black;
        
    }
    img{
        
        box-sizing: border-box;
        width: 20vw;  
    }

}
//GeneralStuff
.titulo{
    color: white;
    background-color: rgba(26, 26, 24, 0.486);
    text-align: center;
    
}
.fondo{
    background: url("../images/platos/bgGeneral.jpg");
    background-size: cover;
}
.whatsappBoton{
    
    
    position: fixed;
    right: 5px;
    bottom: 5px;
    a{
        display: flex;
        align-items: center;
        color: rgb(0, 0, 0);
        font-size: large;
        img{
            width: 8vw;
            height: 13vh;
        }
    }
}
//Fin GeneralStuff

@media screen and (max-width: 400px){
    header{
        height: 14vh;
        nav{
            height: 14vh;
            .opciones{
                width: 100vw;
                ul{
                    flex-wrap: wrap;
                    li{
                        padding-right: 5px;
                    }
                }
            }
            .log{
                img{
                    height: 10vh;
                    width: 20vw;
                }
            }
        }
    }
    .mainIndex{
        justify-content: center;

        flex-wrap: wrap;
        .dudaPedir{
            width: 100vw;
            height: 30vh;
            .tamanio{
                width: 60vw;
                height: 20vh;
            }
        }
        .sugerencias{
            position: unset;
            width: 70vw;
            height: 20vh;
            a{
                
                
            }
        }
    }
}