* {
  list-style: none;
  text-decoration: none;
  margin: 0;
}

.dataCont {
  margin-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dataCont .botonera .whatsapp {
  text-decoration: none;
  color: white;
  background-color: #2d9e00;
  border: 1px double black;
}

.dataCont .botonera .pedya {
  text-decoration: none;
  color: white;
  background-color: rgba(182, 4, 4, 0.877);
  border: 1px double black;
}

.parteAbajoCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.parteAbajoCont .maps {
  width: 40vw;
}

.parteAbajoCont .formulario {
  border: 1px solid black;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.418);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parteAbajoCont .formulario #formCont {
  color: beige;
}

.parteAbajoCont .formulario form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parteAbajoCont .formulario form label {
  color: white;
}

.parteAbajoCont .formulario form textarea {
  border-radius: 5px;
}

.parteAbajoCont .formulario form input {
  background-color: beige;
  border-radius: 5px;
}

.contenedorMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.contenedorMenu .menuGeneral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contenedorMenu .menuGeneral .caja {
  margin: 10px;
  background-color: rgba(245, 245, 220, 0.507);
  border: 3px double rgba(0, 0, 0, 0.555);
}

.contenedorMenu .menuGeneral .caja h3 {
  text-align: center;
}

.contenedorMenu .menuGeneral .caja ul {
  padding: 4px;
}

.noti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 60vh;
}

.noti .articuloNoticia {
  width: 20vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: beige;
  border-radius: 5px;
}

.noti .articuloNoticia .sect1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.noti .articuloNoticia .sect1 .imagen {
  width: 100px;
  height: 100px;
}

.noti .articuloNoticia .sect1 p {
  padding: 4px;
}

.backNos {
  height: 90vh;
  width: 100vw;
}

.backNos .cuerpoSobreNos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backNos .cuerpoSobreNos p {
  text-align: center;
  width: 36vw;
}

.backNos .cuerpoSobreNos img {
  border: 1px solid black;
  width: 70vh;
  height: 40vh;
}

.segundoSection img {
  width: 20vw;
  border-radius: 10px;
}

.segundoSection p {
  padding: 0.2em;
}

header {
  border: 1px solid orange;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e08002;
  border: 1px solid white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 11vh;
}

header nav .opciones {
  width: 60vw;
}

header nav .opciones ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .opciones ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 20vw;
}

header nav .opciones ul li a {
  height: 50px;
  width: 100px;
  text-decoration: none;
  background-color: black;
  padding: 5px;
  color: orange;
  border: 1px solid rgba(255, 166, 0, 0.57);
  border-radius: 5px;
}

header .log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .log img {
  width: 5vw;
  border: 1px solid #110901;
  border-radius: 300px;
}

.mainIndex {
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.mainIndex .dudaPedir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px;
  border: 1px solid white;
  background-color: rgba(52, 44, 30, 0.792);
  width: 40vw;
  height: 60vh;
  color: white;
}

.mainIndex .dudaPedir .galeria {
  height: 20vh;
}

.mainIndex .sugerencias {
  width: 25vw;
  position: absolute;
  left: 18vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../images/inicio1.png");
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30vh;
}

.mainIndex .sugerencias img {
  width: 30vw;
  height: 40vh;
  border: 3px solid black;
}

.mainIndex .sugerencias a {
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.521);
  background-size: cover;
  color: white;
}

.mainIndex .sugerencias :hover {
  background: black;
}

.pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 11vh;
}

.pie .tituloPie {
  color: black;
}

.pie .h4Pie {
  color: black;
}

.pie .autor {
  color: black;
}

.tamanio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  width: 40vw;
}

.tamanio .bordes {
  border-radius: 0px;
  border: 1px solid black;
}

.tamanio img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20vw;
}

.titulo {
  color: white;
  background-color: rgba(26, 26, 24, 0.486);
  text-align: center;
}

.fondo {
  background: url("../images/platos/bgGeneral.jpg");
  background-size: cover;
}

.whatsappBoton {
  position: fixed;
  right: 5px;
  bottom: 5px;
}

.whatsappBoton a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-size: large;
}

.whatsappBoton a img {
  width: 8vw;
  height: 13vh;
}

@media screen and (max-width: 1200px) {
  header {
    height: 14vh;
  }
  header nav {
    height: 14vh;
  }
  header nav .opciones {
    width: 100vw;
  }
  header nav .opciones ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header nav .log img {
    border-radius: 0px;
    border: 0;
    height: 10vh;
    width: 15vw;
  }
}

@media screen and (max-width: 940px) {
  header {
    height: 14vh;
    width: 100vw;
  }
  header nav {
    height: 14vh;
  }
  header nav .opciones {
    width: 100vw;
  }
  header nav .opciones ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header nav .log {
    position: relative;
    top: 1vh;
    right: 5vw;
  }
  header nav .log img {
    border-radius: 0px;
    border: 0;
    height: 10vh;
    width: 15vw;
  }
  .whatsappBoton {
    position: fixed;
    bottom: 1vh;
    right: 5vw;
  }
  .whatsappBoton a img {
    width: 20vw;
    height: 13vh;
  }
  .mainIndex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mainIndex .dudaPedir {
    width: 60vw;
    height: 30vh;
  }
  .mainIndex .dudaPedir .tamanio {
    width: 100vw;
    height: 20vh;
  }
  .mainIndex .sugerencias {
    position: unset;
    width: 40vw;
    height: 20vh;
  }
  .pie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: rgba(240, 248, 255, 0.276);
    height: 20vh;
  }
  .pie .tituloPie {
    color: black;
  }
  .pie .h4Pie {
    color: black;
  }
  .pie .autor {
    color: black;
  }
  .noti {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 90vh;
  }
  .noti .articuloNoticia {
    width: 44vw;
    margin-top: 2vh;
    background-color: beige;
    border-radius: 5px;
    border: 1px solid black;
  }
  .noti .articuloNoticia .sect1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .noti .articuloNoticia .sect1 h4 {
    text-align: center;
  }
  .noti .articuloNoticia .sect1 .imagen {
    width: 40vw;
    height: 18vh;
  }
  .noti .articuloNoticia .sect1 p {
    padding: 4px;
  }
  .backNos {
    height: 70vh;
  }
  .backNos .cuerpoSobreNos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .backNos .cuerpoSobreNos p {
    text-align: center;
    width: 60vw;
  }
  .backNos .cuerpoSobreNos img {
    border: 1px solid black;
    width: 60vw;
    height: 32vh;
  }
}

@media screen and (max-width: 400px) {
  .parteAbajoCont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .parteAbajoCont .maps {
    width: 80vw;
    height: 40vh;
  }
  .parteAbajoCont .formulario {
    border: 1px solid black;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.418);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .parteAbajoCont .formulario #formCont {
    color: beige;
  }
  .parteAbajoCont .formulario form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .parteAbajoCont .formulario form label {
    color: white;
  }
  .parteAbajoCont .formulario form textarea {
    border-radius: 5px;
  }
  .parteAbajoCont .formulario form input {
    background-color: beige;
    border-radius: 5px;
  }
  .noti {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100vh;
  }
  .noti .articuloNoticia {
    width: 44vw;
    margin-top: 2vh;
    background-color: beige;
    border-radius: 5px;
    border: 1px solid black;
  }
  .noti .articuloNoticia .sect1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .noti .articuloNoticia .sect1 h4 {
    text-align: center;
  }
  .noti .articuloNoticia .sect1 .imagen {
    width: 40vw;
    height: 20vh;
  }
  .noti .articuloNoticia .sect1 p {
    padding: 4px;
  }
  .pie {
    display: none;
  }
  header {
    height: 21vh;
  }
  header nav {
    height: 21vh;
  }
  header nav .opciones {
    width: 100vw;
  }
  header nav .opciones ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 5px;
  }
  header nav .opciones ul li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 2px;
  }
  header nav .log img {
    height: 10vh;
    width: 20vw;
  }
  .mainIndex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mainIndex .dudaPedir {
    width: 100vw;
    height: 30vh;
  }
  .mainIndex .dudaPedir .tamanio {
    width: 60vw;
    height: 20vh;
  }
  .mainIndex .sugerencias {
    position: unset;
    width: 70vw;
    height: 20vh;
  }
}
/*# sourceMappingURL=common.css.map */